.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.loader {
  display: inline-block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 5px solid rgb(71, 79, 122);
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
