.root {
  all: unset;
  position: relative;
  padding: 8px;
  border-radius: 4px;
  color: #738286;
  /* min-width: 40px; */
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  transition: background-color 0.1s ease-out;
}

.root:hover {
  background-color: #f3f3f3;
}

.isActive {
  color: #000;
  font-weight: 700;
}
