/* Header styles */
.header {
  align-items: center;
  padding: 17px 20px;
  background-color: #083644;
  color: #fff;
}
.navigation {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}
.backButton svg {
  width: 24px;
  height: 24px;
}

.backButton {
  display: flex;
  align-items: center;
  padding: 0px;
  border: none;
  background-color: #083644;
  color: white;
  cursor: pointer;
  gap: 6px;
}
.root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 16px;
  background-color: #083644;
  gap: 8px;
}

.search {
  flex: 1 1 auto;
}

.menu {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.back {
  flex: 0 0 auto;
}
