.root {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 128px;
  height: 128px;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 12px;
  border-radius: 8px;
}

.root:hover {
  text-decoration: none;
}

.cover {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  transform: translate(var(--translate-x), var(--translate-y)) rotate(var(--rotate));
  transition: all 0.2s ease-in-out;
}

.title {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.root:hover .cover {
  transform: rotate(var(--hover-rotate));
}
